body, p, ul, li {
	margin: 0;
	padding: 0;
	font-family: Verdana, sans-serif;
}

.container {
	width: 1366px;
	margin: 0 auto;
	background-image: url(../image/background.png);
}

.header {
	width: 1066px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	padding-top: 49px;
}

a {
	color: #fff;
	text-decoration: none;
}

.main-pictures {
	list-style: none;
}

.main-pictures li {
	display: inline-block;
}

.logo-text {
	display: inline-block;
	font-weight: bold;
}

.logo-big-text {
	font-size: 26px;
}

.header-right {
	text-align: right;
	margin-right: 10px;
	margin-bottom: 45px;
}


.header-contacts {
	color:  #ffffff;
	font-size: 18px;
	font-weight: 400;
	line-height: 21px;

}

.content {
	width: 1066px;
	margin: 0 auto;
}

.tours li {
	display: inline-block;
	width: 306px;
	margin-right: 65px;
	text-align: center;
	margin-bottom: 55px;
	position: relative;

}

.tours .margin-right-none {
	margin-right: 0;
}

.tours li img {
	margin-bottom: 20px;
}

.tours img {
	  margin: auto;
	  background: #eee;

	  border: 2px solid transparent;

	  -moz-border-image: -moz-linear-gradient(top, #ffffff 0%, #000000 100%);
	  -webkit-border-image: -webkit-linear-gradient(top, #ffffff 0%, #000000 100%);
	  border-image: linear-gradient(to bottom, #ffffff 0%, #000000 100%);

	  border-image-slice: 1;
	}

.tour-details {
	width: 310px;
	height: 63px;
	text-align: inherit;
	background-color: #f26522;
	display: flex;
	justify-content: space-between;
	position: absolute;
	bottom: 42px;
	visibility: hidden;
}

.tour-details p {
	color: #ffffff;
	font-size: 20px;
	margin-bottom: 31px;
	margin-left: 18px;
	margin-right: 18px;

}

.tour-details .price-low-case {
	font-size: 8px;
	margin-right: 10px;
}

.tour-details a {
	margin-bottom: 17px;
	margin-right: 18px;
	margin-top: 36px;
	font-size: 11px;
	padding-left: 20px;
}

.tours li:hover .tour-details {
	visibility: visible;

}
.tours li:hover .link-hower {
	color: #f26522;
}

.arrow {
	float: right;
	width: 4px;
	height: 4px;
	border-right: 2px solid black;
	border-top: 2px solid black;
	transform: rotate(45deg);
	border-color: #ffffff;
	opacity: 0.5;
	margin-top: 5px;
	margin-left: 15px;
}


.footer {
	color: #ffffff;
	text-align: center;
	margin-top: 0;
	padding-bottom: 20px;
	font-size: 10px;
	font-weight: 400;
	line-height: 21px;
}
